/* Login*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#efefef;
}

/* ================= HEADER ================= */
header{
  background:#000;
  display:flex;
  align-items:center;
  padding:10px 30px;
}

.logo img{
  height:50px;
}

.search-box{
  flex:1;
  margin:0 20px;
}

.search-box input{
  width:100%;
  padding:10px;
  border-radius:6px;
  border:none;
}

nav{
  display:flex;
  gap:15px;
}

nav a{
  color:#fff;
  text-decoration:none;
}

.nav-btn{
  border:1px solid #fff;
  padding:6px 12px;
  border-radius:6px;
}

.nav-btn:hover{
  background:#fff;
  color:#000;
}

/* ================= MAIN ================= */
.container{
  max-width:1200px;
  margin:60px auto;
  display:flex;
  gap:50px;
  align-items:center;
  justify-content:center;
}

/* ================= FORM ================= */
.form-box{
  width:400px;
  background:#fff;
  padding:30px;
  border-radius:25px;
  border:2px solid #000;
}

.form-box h2{
  text-align:center;
  margin-bottom:20px;
}

/* INPUT */
.form-box input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:6px;
  border:1px solid #ccc;
}

/* 2 cột */
.row{
  display:flex;
  gap:10px;
}

/* TEXT */
.center{
  text-align:center;
  font-size:14px;
}

.red{
  color:red;
  cursor:pointer;
}

/* ================= BUTTON ================= */
button{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

.btn-primary{
  background:#000;
  color:#fff;
}

.btn-primary:hover{
  background:#222;
}

.btn-secondary{
  background:#666;
  color:#fff;
}

/* ================= IMAGE ================= */
.image img{
  width:400px;
  border-radius:20px;
}

/* ================= PRODUCTS ================= */
.products{
  max-width:1200px;
  margin:40px auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card{
  background:#fff;
  border-radius:10px;
  overflow:hidden;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.card p{
  color:red;
  padding:10px;
}

/* ================= RESPONSIVE ================= */
@media(max-width:900px){
  .container{
    flex-direction:column;
  }

  .image img{
    width:100%;
  }
}
