/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#efefef;
}

/* HEADER */
.header{
  display:flex;
  align-items:center;
  background:black;
  padding:10px 20px;
}

.logo{
  width:100px;
}

.search{
  margin:0 20px;
  padding:8px 12px;
  border-radius:6px;
  border:none;
  width:250px;
}

.menu{
  margin-left:auto;
  display:flex;
  gap:15px;
}

.menu a{
  color:white;
  text-decoration:none;
  font-size:14px;
}

.btn{
  border:1px solid white;
  padding:4px 10px;
  border-radius:5px;
}

.active{
  background:white;
  color:black;
}

/* MAIN */
.main{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:60px;
  margin-top:40px;
}

/* FORM */
.login-box{
  width:380px;
  background:#eaeaea;
  padding:30px;
  border-radius:30px;
  border:2px solid black;
}

.login-box h2{
  text-align:center;
  margin-bottom:20px;
}

/* INPUT */
.input{
  display:flex;
  align-items:center;
  border:1px solid black;
  border-radius:6px;
  padding:8px;
  margin:12px 0;
  background:#ddd;
}

.input span{
  margin-right:8px;
}

.input input{
  border:none;
  outline:none;
  flex:1;
  background:transparent;
}

/* TEXT */
.forgot{
  text-align:right;
  font-size:13px;
  margin-top:5px;
}

.register{
  font-size:13px;
  margin:15px 0;
}

.register a{
  color:red;
}

/* BUTTON */
.btn-login{
  width:100%;
  padding:10px;
  background:#666;
  color:white;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

/* IMAGE */
.banner img{
  width:350px;
  height:500px;
  object-fit:cover;
  border-radius:20px;
}

/* RESPONSIVE */
@media(max-width:900px){
  .main{
    flex-direction:column;
  }

  .banner img{
    width:100%;
  }
}
